*{
    border: 1px solid red;
}

header{
    /* pixeles  */
    height: 500px;
    width: 400px;
    font-size: 24px;
}

p{
    border: 2px solid blue;
    /* el porcentaje trabaja en base al tamaño del padre, sea ancho o alto */
    width: 50%;
    /* El valor del EM es multiplo al valor de la misma variable dclarda en el padre, en este caso el header es padre del p */
    font-size: 1em;
}

label{
    font-size: 1rem;
}